<h2>Sponsors</h2>

<form action="send-prop" method = "post">
  <label for="CompanyName" name= "company">Company Name:</label><br>
  <input type="text" name="name" ><br>
  <label for="email">Email:</label><br>
  <input type="email"  name="email" ><br><br>
  <input type="submit" value="Submit">
</form> 